extends layout

include icons/_youtube

block content
	//- pre= h.dump(band)
	.single
		.single__hero
			img.single__image(src=`/uploads/${band.photos.gallery[0] || 'Band.jpg' }`)
			h2.title.title--single
				a(href=`/bands/${band.slug}`) #{band.name}
				
	.single__details
		p.single__location= band.location.address
		p.single__lead= band.description
		.single__body 
			.single__col
				p.single__detail
					strong Years Active: 
					!= h.buildDatesString(band.yearsActive)
				p.single__detail 
					strong Personnel: 
					!= band.personnel.join(' | ')
				p.single__detail 
					strong Past Personnel: 
					!= band.pastPersonnel.join(' | ')	
				p.single__detail 
					strong Record Labels: 
					!= band.labels.join(' ')
			.single__img-col
				img.single__detail-img(src=`/uploads/${band.photos.squareSm || 'Band.jpg' }`)
		if band.tags
			ul.tags
				each tag in band.tags
					li.tag
						a.tag__link(href=`/tags/${tag}`)
							span.tag__text ##{tag}
	if band.youtubePL
		.single__fullwidth.single__fullwidth--black
			.single__video
				+youtube()
				.single__video-wrapper
					iframe(src=band.youtubePL frameborder="0" allowfullscreen)