extends layout

include icons/_youtube
include icons/_cross
include icons/_pick

block meta 
	meta(name="description" content=`Find albums, videos and history for ${band.name} on Loomernescent`)
	meta(name="keywords" content=`${band.name}, ${albums.map(v => v.title).join(", ")}, ${band.personnel.join(", ")}, ${band.tags.join(", ")}, shoegaze, guitar, dreampop, loomernescent, indie`)

block content
	//- pre= h.dump(albums)
	.single
		.single__hero
			img.single__image(src=`/uploads/${band.photos.galleryThumbs[0] || 'Band.jpg' }` srcset=`/uploads/${band.photos.galleryThumbs[0]} 767w, /uploads/${band.photos.gallery[0]} 1000w` alt=`A photo of ${band.name}`)
			h2.title.title--single #{band.name}		
	.single__details
		- if (h.countryToISO(band.location.address).length > 30)
			.ribbon__wrapper--long
				.ribbon.ribbon--long!= h.countryToISO(band.location.address)
		- else
			.ribbon__wrapper
				.ribbon!= h.countryToISO(band.location.address)
		.band-info
			.band-info__photo
				img(src=`/uploads/${band.photos.squareLg || 'Band.jpg' }` alt=`A photo of ${band.name}`)
			.band-info__facts
				p.single__detail
					strong Years Active: 
					!= h.buildDatesString(band.yearsActive)
				p.single__detail 
					strong Personnel: 
					!= band.personnel.join(' | ')
				if band.pastPersonnel.length
					p.single__detail 
						strong Past Personnel: 
						!= band.pastPersonnel.join(' | ')	
				p.single__detail 
					strong Record Labels: 
					!= band.labels.join(' | ')											
			.band-info__content
				p.single__lead= band.description
				.single__body 
					.single__col
	if band.vimeoPL || band.youtubePL						
		.single__fullwidth.single__fullwidth--black
			if band.youtubePL
				.single__video
					//- +youtube()
					.single__video-wrapper
						iframe(src=band.youtubePL frameborder="0" allowfullscreen)
	if albums.length
		.single__fullwidth.single__fullwidth
			h2.modal__title Albums by #{band.name}
			.single__albums
				each album in albums
					.single__album
						a(href=`/album/${album.slug}`)
							img(src=`/uploads/covers/${album.cover}` alt=`cover artwork for ${album.title} by ${album.artist}`)
	if band.photos.gallery
		.single__fullwidth.single__fullwidth--ebony
			.single__gallery
				each photo in band.photos.galleryThumbs
					.single__gallery-thumb
						img.single__gallery-thumb-img(src=`/uploads/${photo}` alt=`gallery thumbnail for ${band.name}`)
	#galleryModal.modal
		.modal__container
			.modal__header
				h3.modal__title
				span.modal__close
					+cross() 
			.modal__body
			.modal__footer