extends layout

block meta 
	meta(name="description" content=`Browse guitar pedals used by shoegaze bands on Loomernescent`)
	meta(name="keywords" content=`${pedal.brand} - ${pedal.name}  ${pedal.usedBy.map(v => v.artist).join(", ")}, ${pedal.type}, guitar, fx, effects, pedals, loomernescent`)
	meta(property="og:url" content=`http://loomernescent.com/pedal/${pedal.slug}`)

block content
	.single
		.single__hero
			img.single__image(src=`/images/Pedals_Sm2.jpeg` srcset='/images/Pedals_Sm.jpeg 767w, /images/Pedals_Lg.jpeg 1000w' alt='A wall of guitar pedals in a japanese music shop')
			h2.title.title--single #{pedal.brand} #{pedal.name}
	.single__details.single__details--margin
		.pedal-info__image
			img(src=`/uploads/pedals/${pedal.image}` alt=`A photo of a ${pedal.brand} ${pedal.name}`)
		.pedal-info__content
			h3.pedal-info__title #{pedal.brand} #{pedal.name}			
			.pedal-info
				hr.album-info__hr
				if pedal.yearsManufactured.length
					p.pedal-info__detail
						strong Manufactured: 
						!= h.buildDatesString(pedal.yearsManufactured)
				if pedal.usedBy.length
					p.pedal-info__detail
						strong Notable Users: 
						each user, i in pedal.usedBy
							-const artist = `${user.artist} `
							if i < pedal.usedBy.length - 1
								span.pedal-info__user
									span #{artist}
									a(href=`/band/${user.slug}`) (#{user.band})
							else
								span.pedal-info__user
									span #{artist}
									a(href=`/band/${user.slug}`) (#{user.band})
				if pedal.comments
					p.pedal-info__comments #{pedal.comments}
	if pedal.youtube
		.single__video
			//- +youtube()
			.single__video-wrapper
				iframe(src=pedal.youtube frameborder="0" allowfullscreen)                    
