mixin bandCard(band = {})
	.band
		.band__hero
			.band__actions
				//- user && band.author.equals(user._id)
				if user && user.admin 
					.band__action.band__action--edit
						a(href=`/bands/${band._id}/edit`)
							!= h.icon('pencil')
			img(src=`/uploads/${band.photos.squareSm || 'band.jpg'}`)
			h2.title
				a(href=`/band/${band.slug}`) #{band.name}
		.band__details
			p= band.description.split(' ').slice(0, 25).join(' ')